
h1,h2,h3,h4,h5,h6,label,p{
    margin:0;    
}

/* ------------------------------------------------------------------------- */


html,body{
    margin:0;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Raleway', sans-serif;
    background: #fff;
    height: 100%;
}

.body-page{
    position: relative;
    width: 100%;
    min-height: 100%;
}

body a{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration:none;
}
ul{
    margin: 0;
    padding: 0;
}
.navbar.navbar-default {
    background: #fff;
    margin: 0;
    border-top: none;
	min-height: 40px;
}
.navbar-right {
    margin-right: 0;
}
.top-header p{
    font-size: 0.9em;
    color: #353F49;
    line-height: 1.8em;
    margin-top: .8em;
    letter-spacing: 1px;
    font-weight: 500;
	font-family: 'Raleway', sans-serif;
}
.top-header p a{
    color: #01a185;
    padding: 0 7px;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	transition:.5s all;
}
.top-header p a:hover{
	color: #33414e;
}

.social-icons {
    margin-top: .8em;
}
.social-icons ul{
	margin-top: .8em;
}
.social-icons ul li {
    display: inline-block;
    margin-left: 1em;
}
.social-icons ul li a {
    background: url(../img/social-icons.png)no-repeat -3px -2px;
    display: block;
    height: 22px;
    width: 20px;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
    padding: 0;
}
.social-icons ul li a.pin {
    background-position: -3px -38px;
}
.social-icons ul li a.in {
    background-position: -3px -78px;
}
.social-icons ul li a.be {
    background-position: -3px -115px;
}
.social-icons ul li a.you {
    background-position: -3px -154px;
}
.social-icons ul li a.vimeo {
    background-position: -2px -192px;
}
.social-icons ul li a:hover{
	-webkit-transform:rotateY(360deg);
	transform:rotateY(360deg);
	-moz-transform:rotateY(360deg);
	-o-transform:rotateY(360deg);
	-ms-transform:rotateY(360deg);
}


.header-two .navbar-nav {
    width: 33%;
}

.logo {
    text-align: center;
}
.logo h1 {
    font-size: 2.5em;
    margin: 0.6em 0 0.5em;
    font-weight: 900;
}
.logo h1 a {
    display: inline-block;
    color: #01a185;
    text-decoration: none;
}
.logo h1 a b {
    color: #353F49;
}
span.tag {
    display: block;
    font-size: .3em;
    color: #999;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    margin-top: 6px;
	font-weight: 400;
}




/*------------------------------------------------------------------------------*/

ul.nav_1 li a {
    font-size: 0.9em;
    color: #3A3A3A;
    padding: 1.6em;
}
ul.nav_1 li {
    border-right:1px solid #EFEFEF;
}
.navbar {
    margin-bottom: 0px;
    border:none;
    
}
div#bs-megadropdown-tabs {
    padding: 0;
}
.h_menu4 {
    margin-left: 6.6%;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #01a185;
    color: #fff;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #01a185;
    color: #fff;
}
.col1 {
    float: left;
    width: 20%;
}
.menu-top {
    width: 850px;
    padding: 1em;
}
.col1 ul li{
    list-style:none;
        border-right: none;
}
.col1 ul li a{
    padding: 6px 0px;
    display: block;
}
.col1 h4{
    font-size: 1.5em;
    color: #000;
    margin-bottom: 0.5em;
    font-family: 'Ubuntu-Regular';
}
/*--cart--*/


.cartHeaders div{
    float:left;
    margin: 5px 20px 5px 20px ;
}

.box_1 h3{
  color: #000;
  font-size: 1em;
}
.box_1 h3 img{
    margin-left: 5px;
}
.box_1 p a{
  color: #B5B3B3;
  font-size: 0.77em;
}
.total {
  display: inline-block;
}
.cart.box_1{
    float: right;
    margin-top: 2px;
}

.heart{
    float:left;
    margin-top: 0.7em;
}
.heart li{
    display:inline-block;
    border-right: 1px solid #EFEFEF;
}
.heart li  a{
    font-size: 0.9em;
    color: #3A3A3A;
    margin:0 1em;
    outline: none;  
}
.heart li:last-child {
    border-right: none;
}
.heart span{
    
}
.cart{
    float:right;
}
.search-right {
    padding: 0.6em 0 0;
}
/*--//header--*/
/*--banner--*/

/*--//banner--*/
/*--content--*/

/*--typo-single--*/

a.cart{
  padding: 0.3em 0.7em;
  color: #FFF;
  background: #52D0C4;
  margin: 1.5em 0 0;
  font-size: 1em;
  display:inline-block;
  line-height: 1.6em;
  text-align: center;
  text-decoration:none;
}
a.cart:hover{
    background: #000;
}
/*----*/

/*--//checkout--*/
/*--wish--*/

@media(max-width:1280px){
.navbar-nav > li > .mega-dropdown-menu {
    left: -130%;
}
}
@media(max-width:1220px){
.h_menu4 {
    margin-left: 13.6%;
}
ul.nav_1 li a {
    padding: 1.6em 1.2em;
}
.col1 ul li a {
    padding: 6px 0px;
}
.navbar-nav > li > .dropdown-menu {
    left: -197%;
}
.navbar-nav > li > .mega-dropdown-menu {
    left: -387%;
}

    .heart li a {
        margin: 0 0.5em;
    }
}
@media(max-width:1000px){
.navbar-toggle {
    background-color: #000 !important;
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}

ul.nav_1 li a {
    padding: 1.2em 0.5em;
    font-size: 0.8em;
}
.col1 ul li a {
    padding: 6px 0px;
    font-size: 0.85em;
}

.h_menu4 {
    margin-left: 21.8%;
    width: 56%;
    padding: 0;
    float:left;
}
.search-right {
    width: 21%;
    float:left;
}
.heart span {
    margin: 0.6em;
}

.box_1 h3 {
    font-size: 0.8em;
}
.box_1 p a {
    font-size: 0.7em;
}
.box_1 h3 img {
    width: 25%;
}
.cart.box_1 {
    margin-top: 0px;
}
.heart {
    margin-top: 0em;
}
}
@media(max-width:991px){

.menu-top {
    width: 660px;
    padding: 1em;
}
.navbar-nav > li > .dropdown-menu {
    left: -233%;
}
.col1 h4 {
    font-size: 1.2em;
}
.navbar-nav > li > .mega-dropdown-menu {
    left: -490%;
}

}
@media(max-width:768px){


}
@media(max-width:767px){

.search-right {
    width: 25%;
}

.nav > li > a{
    padding: 1.2em 3em !important;
        width: 171px;
}
.navbar-nav {
    margin: 0;
    width: 100%;
}

ul.nav_1 li {
    border-right: none;
}
.navbar-nav > li > .dropdown-menu {
    left: inherit;
}
.navbar-nav > li > .mega-dropdown-menu {
    left: inherit;
}

.menu-top {
    width: 160px;
}

.heart li a {
    margin: 0 0.3em;
}
}
@media (max-width: 640px){
.banner {
    height: 390px;
    background-position-x: -965px;
}
}
@media (max-width: 620px){
.header-login {
    width: 38%;
}
}
@media(max-width:568px){

.search-right {
    width: 36%;
    float: right;
}
.h_menu4 {
    width: 30%;
    margin: 0;
}
.navbar-toggle {
    float: left;
}

.nav > li > a {
    padding: 0.8em 2em !important;
}


}
@media(max-width:480px){

}
@media(max-width:390px){

.h_menu4 {
    width: 42%;
}
.nav > li > a {
    padding: 0.8em 1em !important;
    width: 160px;
}
.search-right {
    width: 57%;
}

.img {
    float: none;
    text-align: center;
    margin-top: 0.5em;
}
.img img{
    width:29%;
}

}
@media(max-width:320px){

}


/* ------------------------------------------------------------------------- */

/* #footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
} */

.footer-page{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
}

.footer-top {
    padding: 60px 0 0 0;
}
.footer-grid p {
    color: #979797;
    font-size: 13px;
    line-height: 26px;
    margin-top: 5px;
}
.footer-grid ul li {
    list-style-type: none;
    margin: 13px 0;
}
.footer-grid ul li a {
    color: #979797;
    font-size: 13px;
    font-weight: 400;
}
h4.footer-head {
    font-size: 20px;
    color: #01a185;
    margin-bottom: 5px;
}
ul.location {
    margin-top: 1em;
}
ul.location li {
    float: left;
    display: inline-block;
    margin: 0;
}
span.glyphicon.glyphicon-map-marker {
    margin-top: 3px;
}
span.glyphicon.glyphicon-map-marker, span.glyphicon.glyphicon-earphone, .glyphicon.glyphicon-envelope {
    color: #fff;
    font-size: 12px;
    background-color: rgba(89, 194, 175, 0.68);
    padding: 6px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    vertical-align: top;
}
ul.location li:nth-child(2) {
    float: right;
    width: 85%;
    color: #979797;
    font-size: 0.95em;
    line-height: 2em;
    text-transform: lowercase;
    margin: 0;
}
.footer-bottom {
    padding: 0 0 25px;
    background: #3c3d41;
}
.footer-bottom p {
    margin: 0px;
    color: #fff;
    font-size: 14px;
}
.footer-social-icons {
    margin: 30px 0 0 0;
}
.footer-social-icons ul li {
    display:inline-block;
    margin:0 0.2em;
}
.footer-social-icons ul li a{
    width:30px;
    height:30px;
    background:url('../img/icon-for-footer.png') no-repeat 0px 0px;
    display:inline-block;
    position: relative;
}
.footer-social-icons ul li a span {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: -25px;
    right: -25px;
    padding: 5px;
    font-size: 14px;
    border-radius: 2px;
    background: #01a185;
    visibility: hidden;
    opacity: 0;
    -o-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.footer-social-icons ul li a span:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #01a185;
    position: absolute;
    bottom: -5px;
    left: 34px;
}
.footer-social-icons ul li a:hover span {
    bottom: 41px;
    visibility: visible;
    opacity: 1;
}

.footer-social-icons ul li a.facebook {
    background-position:0px 0px;
}
.footer-social-icons ul li a.facebook:hover {
    background-position:-0px -30px;
}
.footer-social-icons ul li a.twitter {
    background-position:-30px 0px;
}
.footer-social-icons ul li a.twitter:hover {
    background-position:-30px -30px;
}
.footer-social-icons ul li a.flickr {
    background-position:-60px 0px;
}
.footer-social-icons ul li a.flickr:hover {
    background-position:-60px -30px;
}
.footer-social-icons ul li a.googleplus {
    background-position:-90px 0px;
}
.footer-social-icons ul li a.googleplus:hover {
    background-position:-90px -30px;
}
.footer-social-icons ul li a.dribbble {
    background-position:-120px 0px;
}
.footer-social-icons ul li a.dribbble:hover {
    background-position:-120px -30px;
}
.footer-social-icons {
    margin: 40px 0 15px 0;
}
.copyrights p {
    font-size: 13px;
}